<!doctype html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gruppo" />
<%- include("header", {title: title}); %>

<h2>Create a new flashcard deck</h2>

<form method="post">
    <fieldset>
        <legend>New deck: </legend>

        <label for="deckname"> Name </label>
        <input id="deckname" type="text" name="deckname">

        <label for="subjectname"> Subject </label>
        <select name="subjectname" id="subjectname" type="text" required>
            <% for (const row of res) { %>
                <option value="<%= row.subjectname %>"><%= row.subjectname %></option>
            <% } %>
        </select>

        <label for="difficultyname"> Difficulty </label>
        <select id="difficultyname" type="text" name="difficultyname" required>
            <option value="N/A">N/A</option>
            <option value="Beginner">Beginner</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>

        <input type="submit" name="doit" value="Create deck">
    </fieldset>
</form>

<%- include("footer"); %>
