<!doctype html>
<footer>
    <ul>
        <li>
            <a href="/studybuddy/subjects">Available subjects</a> |
            <a href="/studybuddy/create">Create flashcard deck</a> |
            <a href="/studybuddy/about">About</a>
        </li>
    </ul>
    <p>Copyright &copy; Study Buddy</p>
</footer>
