<!doctype html>
<html></html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<script src="https://use.fontawesome.com/0aee473986.js"></script>

<header>
    <h1>Study Buddy</h1>
    <nav>
        <a href="/studybuddy/home"><i class="fa fa-home"></i></a> 
        <a href="/studybuddy/home">Home</a> | 
        <a href="/studybuddy/subjects">Flashcard catalog</a> |
        <a href="/studybuddy/create">Create</a>
    </nav>
</header>
